#GITIGNORE

# Ignore all folders in this directory
**weights/
**result/
**data/
**output/
**original_test/
**dataset/
**checkpoints/
**runs/

# Ignore all files in this directory
*.pth
*.pyc
*.Identifier
*.tif
*.tfw
*.mat
*.pix
*.hdr


# Ignore all folders in this directory
__pycache__/